#menuContainer {
  background-color: green;
  width: 1200px;
  height: 650px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2px;
  justify-items: center;
  align-items: center;
}
.menuDishes {
  background-color: rgb(5, 68, 68);
  width: 270px;
  height: 270px;
}
